.HeaderFooter{
    width: 428px; 
    height: 964px; 
    left: 0px; 
    top: -38px; 
    position: absolute
}
.hfrec1{
    width: 428px; 
    height: 100px; 
    left: 0px; 
    top: 864px; 
    position: absolute; 
    background: #2C5C9A
}
/* .hfrec2{
    width: 428px; 
    height: 77px; 
    left: 0px; 
    top: 38px; 
    position: absolute; 
    background: #DDE100
} */
.hfrec3{
    width: 428px; 
    height: 94px; 
    left: 0px; 
    top: 38px; 
    position: absolute; 
    background: #4A89BB
}
.hfrec4{
    width: 428px; 
    height: 77px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: #B8D3DE
}
.network{
    left: 324px; 
    top: 52px; 
    position: absolute
}
.time{
    left: 35px; 
    top: 52px; 
    position: absolute; 
    color: white; 
    font-size: 14px; 
    font-family: Inter; 
    font-weight: 400; 
    word-wrap: break-word
}
.SchoolSocialMediaInc{
    left: 30px; 
    top: 91px; 
    position: absolute; 
    color: black; 
    font-size: 20px; 
    font-family: Inter; 
    font-weight: 400; 
    word-wrap: break-word
}
.addfri{
    width: 25px; 
    height: 25px; 
    left: 376px; 
    top: 91px; 
    position: absolute
}
.dock{
    width: 371px; 
    height: 58px; 
    left: 20px; 
    top: 835px; 
    position: absolute;
    display: flex;
    padding: 15px;
    gap: 45px;
    justify-content: center;
}
.icon{
    display: grid;
    justify-content: center;
}
.dockicon{
    width: 35px;
    height: 35px;
    display: flex;
    margin: auto;
}
.docktext{
    font-size: 15px;
    color: #B8D3DE;
}
.press{
    color: white;
    fill: white;
}


.rct1{
    left: 60px; 
    top: 675px; 
    position: absolute;
}
.react{
    width: 319px; 
    height: 30px; 
    display: flex
}
.border1{
    display: flex;
    border: 1px solid;
    width: 120px;
    height: 25px;
    justify-content: center;
    align-items: center;
}
.reactionicon{
    width: 20px;
    display: flex;
    justify-content: center;
}
.reactionlike{
    margin: auto;
}


.club {
    width: 428px;
    height: 330px;
    left: 0px;
    top: 94px;
    position: absolute;
  }
  
  .title {
    left: 30px;
    top: 262px;
    position: absolute;
    color: black;
    font-size: 36px;
    font-family: Inter;
    font-weight: 700;
    word-wrap: break-word;
  }
  
  .count {
    left: 30px;
    top: 306px;
    position: absolute;
    color: #404040;
    font-size: 20px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
  }
  
  .pic {
    width: 428px;
    height: 241px;
    left: 0px;
    top: 0px;
    position: absolute;
  }
  
  .button {
    width: 114px;
    height: 45px;
    left: 237px;
    top: 274px;
    position: absolute;
    background: #B8D3DE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: 0.50px black solid;
  }
  
  .Invite {
    left: 287px;
    top: 285px;
    position: absolute;
    color: black;
    font-size: 20px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
  }
  
  .plus {
    width: 25px;
    height: 25px;
    left: 254px;
    top: 284px;
    position: absolute;
  }
  
  .Post1 {
    width: 370px;
    height: 233.33px;
    left: 30px;
    top: 435px;
    position: absolute;
  }
  
  .pf1 {
    width: 50px;
    height: 50px;
    left: 3px;
    top: 0px;
    position: absolute;
  }
  
  .Sopheap {
    left: 60px;
    top: 0px;
    position: absolute;
    color: black;
    font-size: 20px;
    font-family: Inter;
    font-weight: 600;
    word-wrap: break-word;
  }
  
  .count1 {
    left: 3px;
    top: 218px;
    position: absolute;
    color: #707070;
    font-size: 12px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
  }
  
  .time {
    left: 60px;
    top: 24px;
    position: absolute;
    color: #707070;
    font-size: 14px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
  }
  
  .dots1 {
    width: 20px;
    height: 20px;
    left: 166px;
    top: 4px;
    position: absolute;
  }
  
  .pic1 {
    width: 175px;
    height: 233.33px;
    left: 195px;
    top: 0px;
    position: absolute;
    border: 0.50px black solid;
  }
  
  .text1 {
    width: 198px;
    height: 143px;
    left: 0px;
    top: 57px;
    position: absolute;
    color: black;
    font-size: 20px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
  }
  
  .Post2 {
    width: 283px;
    height: 101px;
    left: 29px;
    top: 719px;
    position: absolute;
  }
  
  .pf2 {
    width: 50px;
    height: 50px;
    left: 2px;
    top: 0px;
    position: absolute;
  }
  
  .RithynyLyhab {
    left: 59px;
    top: 0px;
    position: absolute;
    color: black;
    font-size: 20px;
    font-family: Inter;
    font-weight: 600;
    word-wrap: break-word;
  }
  
  .time2 {
    left: 59px;
    top: 24px;
    position: absolute;
    color: #707070;
    font-size: 14px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
  }
  
  .dots2 {
    width: 20px;
    height: 20px;
    left: 203px;
    top: 4px;
    position: absolute;
  }
  
  .text2 {
    width: 283px;
    height: 34px;
    left: 0px;
    top: 60px;
    position: absolute;
    color: black;
    font-size: 20px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
  }
  
  .count2 {
    left: 0px;
    top: 86px;
    position: absolute;
    color: #707070;
    font-size: 12px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
  }
  